@import "_reset";
@import "_variables";

body {
  align-items: center;
  display: flex;
  background-color: #292929;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  > * + * {
    margin-top: 12px;
  }
}

h1 {
  color: $white;
  font-size: 24px;
}
footer {
  padding: 8px 4px;
  border-radius: 4px;
  background-color: $red;
}